{% load static %}
{% load menu %}

<footer class="main-footer">
		<div class="contaiter">

			{% show_menu 'footer-menu' %}

			<nav class="soc">
				<ul>
	{{ site.soc }}
				</ul>
			</nav>

		</div>
	</footer>
	<footer class="bottom-footer">
		<div class="container text-center">
			<div class="footer-copy">{{ value|date:"SHORT_DATE_FORMAT" }} © <span class="logo-footer logo-litera">Платформа</span></div>
			<p>{{ site.copyright }}</p>
		</div>
	</footer>

	<script src="{% static 'js/scripts.min.js' %}"></script>

	<script id="dsq-count-scr" src="//platforma44-ru-3.disqus.com/count.js" async></script>

	<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

	<script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
	<script type="text/javascript">
	VK.Widgets.Group("vk_groups", {mode: 0, width: 'auto', height: '300', color2: '202222', color3: '202222'}, -496537474);
	</script>

  </body>
  </html>